.header {
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color-dark);
    position: relative;
}

.user {
    position: absolute;
    top: 0;
    right: 15%;
    display: flex;
}

.registerBtn, .loginBtn {
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 500;
    margin: 0 10px;
    padding: 4px;
}

.loginBtn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 104px;
    width: 2px;
    height: 22px;
    background-color: black;
    transform: skew(-20deg);
}

.header__container {
    height: 120px;
}

.brand__name {
    margin-left: 20px;
}

.brand__icon {
    height: 90px;
    margin: 4px 20px 0;
}

.header__title {
    color: blue;
    font-size: 4rem;
    margin: 20px 0 0;
    font-weight: 800;
}

.header__text {
    font-size: 1.8rem;
    color: var(--primary-color-dark);
}

.nav__item {
    text-align: center;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.banner {
    width: 80%;
    margin: auto;
    height: var(--baner-heigh);
    /* background-color: rgba(0, 0, 0, 0.1); */
    position: relative;
    display: flex;
    
}

.banner__list {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.banner__item {
    min-width: 100%;
    background-color: var(--primary-color-light);
    position: relative;
    transition: all 0.4s linear;
}

.banner__item:first-child {
    margin-left: 0;
}

.banner__img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: var(--baner-heigh);
    object-fit: fill;
}

.banner__text {
    display: block;
    position: absolute;
    top: 85%;
    left: 50%;
    transform:translateX(-50%);
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.685);
    width: 700px;
    text-align: center;
    line-height: 34px;
}

.banner__title {
    display: block;
    position: absolute;
    top: 78%;
    left: 50%;
    transform:translateX(-50%);
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--primary-color);
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.685);
}

.banner__arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100px;
    height: var(--baner-heigh);
    background-color: rgba(0, 0, 0, 0.04);
    transition: all 0.1s linear;
    cursor: pointer;
}

.banner__arrow.left {
    left: 0;
}

.banner__arrow.right {
    right: 0;
}

.banner__arrow:hover {
    width: 110px;
}

.banner__arrow > i {
    font-size: 5rem;
    display: block;
    text-align: center;
    line-height: var(--baner-heigh);
    transition: all 0.1s linear;
}

.banner__arrow:hover > i {
    font-size: 5.5rem;
}

.banner__order-list {
    display: flex;
    align-items: center;
    height: 25px;
    /* background-color: black; */
    position: absolute;
    top: 94%;
    left: 50%;
    transform:translateX(-50%);
}

.banner__order-item {
    width: 16px;
    height: 16px;
    margin: 0 8px;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 100%;
    transition: all 0.1s linear;
    cursor: pointer;
}

.banner__order-item.active {
    width: 25px;
    height: 25px;
    border: 4px double black;
    background-color: rgba(255, 255, 255, 0.854);
}

.container {
    height: 1000px;
}

.content__section {
    background-color: var(--primary-color-light);
    border-bottom: 4px solid var(--primary-color-dark);
    min-height: 400px;
}

.content__title {
    margin: 0px;
    color: var(--primary-color-dark);
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
    padding: 32px;
    text-transform: uppercase;
}