<header class="header">
    <div class="header__container grid wide">
        <div class="header__brand row">
            <img src="./assets/img/icon_brand.png" class="brand__icon" alt="">
            <div class="brand__name">
                <h1 class="header__title">ABC Shop</h1>
                <p class="header__text">Cửa hàng điện thoại di động và linh phụ kiện</p>
            </div>
        </div>
        <div class="header__nav row">
            <a href="" class="nav__item l-2 m-2 l-o-1 m-o-1">Trang Chủ</a>
            <a href="#drink" class="nav__item l-2 m-2">Sản phấm</a>
            <a href="#food" class="nav__item l-2 m-2">Liên hệ</a>
        </div>
        <div class="user">
            <div class="registerBtn">Đăng ký</div>
            <div class="loginBtn">Đăng nhập</div>
        </div>
    </div>
    <div id="loginModal" class="modal">
        <!-- Nội Dung Modal -->
        <div class="modal-content">
            <span class="close">×</span>
            <div class="modal__name">Đăng nhập</div>
            <form action="">
                <div class="modal__labelForm">Tên tài khoản:</div>
                <input type="text" class="modal__inputForm">
                <div class="modal__labelForm">Mật khẩu:</div>
                <input type="text" class="modal__inputForm">
                <button type="submit" class="modal__btnForm">Xác nhận</button>
            </form>
            <div class="modal__switchLogin"><< Bạn chưa có tài khoản, Đăng ký ngay!</div>
        </div>
    </div>
    <div id="registerModal" class="modal">
        <!-- Nội Dung Modal -->
        <div class="modal-content">
            <span class="close">×</span>
            <div class="modal__name">Đăng kí</div>
            <form action="">
                <div class="modal__labelForm">Tên tài khoản:</div>
                <input type="text" class="modal__inputForm">
                <div class="modal__labelForm">Mật khẩu:</div>
                <input type="text" class="modal__inputForm">
                <div class="modal__labelForm">Nhập lại mật khẩu:</div>
                <input type="text" class="modal__inputForm">
                <button type="submit" class="modal__btnForm">Xác nhận</button>
            </form>
            <div class="modal__switchRegister">Đăng nhập >></div>
        </div>
    </div>
</header>