<div class="banner">
            <div class="banner__list">
                <div class="banner__item">
                    <img src="http://bizweb.dktcdn.net/100/349/716/collections/1200x628-sieu-uu-dai-cta.jpg?v=1573549610963" alt="" class="banner__img">
                    {{!-- <div class="banner__title">Siêu ưu đãi tháng X</div>
                    <div class="banner__text">Giảm giá tất cả sản phẩm lên đến 10% từ XX đến XX</div> --}}
                </div>
                <div class="banner__item">
                    <img src="https://blog.dktcdn.net/files/tri-an-khach-hang-1.jpg" alt="" class="banner__img">
                    {{!-- <div class="banner__title">Tri ân khách hàng</div>
                    <div class="banner__text">Tặng móc khóa cho những khách hàng đã mua sản phẩm ở ABC Shop</div> --}}
                </div>
                
            </div>

            <div class="banner__handle">
                <div class="banner__arrow left">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="banner__arrow right">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="banner__order-list">
                    <div class="banner__order-item active"></div>
                    <div class="banner__order-item"></div>
                </div>
            </div>
        </div>