<div class="banner grid wide">
    <div class="banner__list">
        <div class="banner__item">
            <img src="http://bizweb.dktcdn.net/100/349/716/collections/1200x628-sieu-uu-dai-cta.jpg?v=1573549610963"
                alt="" class="banner__img">
            {{!-- <div class="banner__title">Siêu ưu đãi tháng X</div>
            <div class="banner__text">Giảm giá tất cả sản phẩm lên đến 10% từ XX đến XX</div> --}}
        </div>
        <div class="banner__item">
            <img src="https://blog.dktcdn.net/files/tri-an-khach-hang-1.jpg" alt="" class="banner__img">
            {{!-- <div class="banner__title">Tri ân khách hàng</div>
            <div class="banner__text">Tặng móc khóa cho những khách hàng đã mua sản phẩm ở ABC Shop</div> --}}
        </div>

    </div>

    <div class="banner__handle">
        <div class="banner__arrow left">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="banner__arrow right">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="banner__order-list">
            <div class="banner__order-item active"></div>
            <div class="banner__order-item"></div>
        </div>
    </div>
</div>

<div style="margin-top: 20px;">
    <div class="newProduct grid wide">
        <div class="newProduct__title ">Sản Phẩm mới ra mắt</div>
        <div class="product__list  ">
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Maxasdasdasd</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Maxasdasdasd</div>
                <div class="product__price">1000d</div>
            </a>
        </div>
    </div>
</div>

<div class="contact grid wide">
    <div class="contact__title">Liên hệ đặt hàng</div>
    <div class="contact__content">
        <div class="contact__item">FaceBook: <a href="">https://www.facebook.com/ABCshop/</a></div>
        <div class="contact__item">Số điện thoại: 033456XXXX</div>
        <div class="contact__item">Shoppe: <a href="">https://shopee.vn/ABCshop.official</a></div>
    </div>
</div>