<div class="Product__title grid wide">Sản Phẩm Của Chúng Tôi</div>

<div class="searchProduct grid wide">
    <input type="text" placeholder="Nhập tên sản phẩm tìm kiếm..." class="searchProduct__input">
    <button class="searchProduct__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>

<div class="Product grid wide">
        <div class="product__list  ">
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Max</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Maxasdasdasd</div>
                <div class="product__price">1000d</div>
            </a>
            <a href="" class="product__item ">
                <img src="https://cdn.tgdd.vn/Products/Images/42/289694/iphone-14-pro-tim-thumb-600x600.jpg" alt=""
                    class="product__img">
                <div class="product__name">IPhone 14 Pro Maxasdasdasd</div>
                <div class="product__price">1000d</div>
            </a>
        </div>
    </div>