<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Shop</title>
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/fontawesome-free-6.1.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <header>
            {{> header}}
        </header>

        <div class="">
            {{{body}}}
        </div>

        <footer>
            {{> footer}}
        </footer>
    </div>
    <script src="/handle/banner.handle.js"></script>
    <script src="/handle/modal.handle.js"></script>
</body>
</html>